footer {
  height: 364px;
  background-color: #f0f0f0;
}

.footer-div {
  display: flex;
  justify-content: center;
}

.footer-div h6 {
  font-size: 19px;
  font-weight: 600;
  margin-top: 40px;
  color: #213538;
  line-height: 0.7;
}

.furnilux-caption {
  font-size: 9px;
  color: #5e6667;
}

.first-line {
  width: 175px;
}

.first-line img {
  height: 16px
}

.first-line p {
  font-size: 12px;
  font-weight: 500;
  color: #304044;
}

.first-links {
  display: flex;
  padding-top: 4px;
}

.first-links p {
  padding-left: 6px;
}

.abc {
  padding: 0 35px;
  margin-top: 40px;
}

.second-links {
  display: flex;
  align-items: baseline;
  margin: 8px 0;
}

.second-links img {
  height: 7px;
  transform: rotate(-45deg);
}

.second-links p {
  font-size: 12px;
  padding-left: 7px;
  font-weight: 500;
  color: #304044;
  cursor: pointer;
}

.last-line {
  width: 288px;
}

.last-line p {
  font-size: 12px;
  line-height: 1;
  margin-top: 20px;
  color: #596766;
}

.subscribe-btn {
  width: 97%;
  height: 26px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px 7px;
  border-radius: 33px;
  margin: 23px 0;
}

.subscribe-btn img {
  height: 20px;
}

.subscribe-btn input {
  width: 180px;
  border: none;
  outline: none;
  font-size: 13px;
  background: none;
  padding: 0 5px;
}

.subscribe-btn button {
  border: none;
  background: #223637;
  color: white;
  padding: 8px 17px;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
}

.copywrite {
  position: relative;
  bottom: -12px;
  font-size: 13px;
  text-align: center;
  top: 118px;
  color: #596766;
}